src/main/mule/http-status.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="http-status-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="http-status-config" api="http-status.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="http-status-main">
        <http:listener config-ref="http-status-httpListenerConfig" path="/api/http-status/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="http-status-config" />
    </flow>
    <!-- [STUDIO:"http-status-console"]<flow name="http-status-console">
        <http:listener config-ref="http-status-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200&#93;">
                <http:headers>#[vars.outboundHeaders default {}&#93;</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500&#93;">
                <http:body>#[payload&#93;</http:body>
                <http:headers>#[vars.outboundHeaders default {}&#93;</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="http-status-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{message: "Resource not found"}&#93;&#93;></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow> [STUDIO] -->
    <flow name="get:\(httpStatus):http-status-config">
        <ee:transform doc:name="httpStatus">
            <ee:variables>
                <ee:set-variable variableName="httpStatus">attributes.uriParams.'httpStatus'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
do {
    var statusCode = vars.httpStatus as Number
    var statusMessages = {
        "200": "OK",
        "201": "Created",
        "204": "No Content",
        "209": "Already Reported",
        "400": "Bad Request",
        "401": "Unauthorized",
        "403": "Forbidden",
        "404": "Not Found",
        "405": "Method Not Allowed",
        "409": "Conflict",
        "410": "Gone",
        "415": "Unsupported Media Type",
        "422": "Unprocessable Entity",
        "429": "Too Many Requests",
        "500": "Internal Server Error",
        "502": "Bad Gateway",
        "503": "Service Unavailable",
        "504": "Gateway Timeout",
        "511": "Network Authentication Required"
    }
    ---
    if (statusCode == 204)
        {}
    else
        {
            code: statusCode,
            message: statusMessages[statusCode as String] default "Unknown Status Code"
        }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="post:\(httpStatus):application\json:http-status-config">
        <ee:transform doc:name="httpStatus">
            <ee:variables>
                <ee:set-variable variableName="httpStatus">attributes.uriParams.'httpStatus'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
do {
    var statusCode = vars.httpStatus as Number
    var statusMessages = {
        "200": "OK",
        "201": "Created",
        "204": "No Content",
        "209": "Already Reported",
        "400": "Bad Request",
        "401": "Unauthorized",
        "403": "Forbidden",
        "404": "Not Found",
        "405": "Method Not Allowed",
        "409": "Conflict",
        "410": "Gone",
        "415": "Unsupported Media Type",
        "422": "Unprocessable Entity",
        "429": "Too Many Requests",
        "500": "Internal Server Error",
        "502": "Bad Gateway",
        "503": "Service Unavailable",
        "504": "Gateway Timeout",
        "511": "Network Authentication Required"
    }
    ---
    if (statusCode == 204)
        {}
    else
        {
            code: statusCode,
            message: statusMessages[statusCode as String] default "Unknown Status Code"
        }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="put:\(httpStatus):application\json:http-status-config">
        <ee:transform doc:name="httpStatus">
            <ee:variables>
                <ee:set-variable variableName="httpStatus">attributes.uriParams.'httpStatus'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
do {
    var statusCode = vars.httpStatus as Number
    var statusMessages = {
        "200": "OK",
        "201": "Created",
        "204": "No Content",
        "209": "Already Reported",
        "400": "Bad Request",
        "401": "Unauthorized",
        "403": "Forbidden",
        "404": "Not Found",
        "405": "Method Not Allowed",
        "409": "Conflict",
        "410": "Gone",
        "415": "Unsupported Media Type",
        "422": "Unprocessable Entity",
        "429": "Too Many Requests",
        "500": "Internal Server Error",
        "502": "Bad Gateway",
        "503": "Service Unavailable",
        "504": "Gateway Timeout",
        "511": "Network Authentication Required"
    }
    ---
    if (statusCode == 204)
        {}
    else
        {
            code: statusCode,
            message: statusMessages[statusCode as String] default "Unknown Status Code"
        }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\(httpStatus):http-status-config">
        <ee:transform doc:name="httpStatus">
            <ee:variables>
                <ee:set-variable variableName="httpStatus">attributes.uriParams.'httpStatus'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
do {
    var statusCode = vars.httpStatus as Number
    var statusMessages = {
        "200": "OK",
        "201": "Created",
        "204": "No Content",
        "209": "Already Reported",
        "400": "Bad Request",
        "401": "Unauthorized",
        "403": "Forbidden",
        "404": "Not Found",
        "405": "Method Not Allowed",
        "409": "Conflict",
        "410": "Gone",
        "415": "Unsupported Media Type",
        "422": "Unprocessable Entity",
        "429": "Too Many Requests",
        "500": "Internal Server Error",
        "502": "Bad Gateway",
        "503": "Service Unavailable",
        "504": "Gateway Timeout",
        "511": "Network Authentication Required"
    }
    ---
    if (statusCode == 204)
        {}
    else
        {
            code: statusCode,
            message: statusMessages[statusCode as String] default "Unknown Status Code"
        }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
