src/main/mule/mule-example-error.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:http="http://www.mulesoft.org/schema/mule/http" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
  <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f22b383a-fd1d-46e3-a22e-f03a3dd0df10" basePath="/api/http-status/" >
		<http:request-connection host="127.0.0.1" port="8081"/>
	</http:request-config>
	<flow name="mule-example-error">
    <scheduler disallowConcurrentExecution="true">
      <scheduling-strategy>
        <fixed-frequency startDelay="5000" frequency="10000"/>
      </scheduling-strategy>
    </scheduler>
    <logger level="INFO" doc:name="Starting" message="Starting the flow" />
		<http:request method="GET" doc:name="200;" doc:id="acfe56df-2f2d-49b6-93fb-06e391bc912c" path="/200" config-ref="HTTP_Request_configuration">
			<http:body ><![CDATA[#[output application/json --- payload default {}]]]></http:body>
		</http:request>
		<logger level="INFO" doc:name="End" doc:id="89367b5f-7045-424f-becc-03c711200064" message="End" />

  </flow>

</mule>